@using Website.Models;

@functions {
    
    public static string GetCategoryName(int id)
    {
        return Category.ScalarWhereID<Category>(id).Title;
    }

    public static string TrimPostText(string post)
    {
        if (post.Length > 35)
        {
            return post.Substring(0, 32) + " ...";
        }

        return post;
    }
}

@if (ViewBag.Posts.Count > 0)
{
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in ViewBag.Posts)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@TrimPostText(post.PostText)</td>
                    <td><a class="category" data-id="@post.CategoryID" href="/">@GetCategoryName(post.CategoryID)</a></td>
                    <td>@post.DatePosted.ToString("MMMM d, yyyy - h:mm")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(".category").click(function (e) {
            e.preventDefault();
            var url = "/Home/RecentPostsInCategory";
            var category = $(this).text();

            $.post(url, { id: $(this).data('id') })
             .done(function (table) {
                 $("#title").empty();
                 $("#title").append(category);
                 $("#posts").empty();
                 $("#posts").append(table);
             });
        });
    </script>
}
else
{
    <h6>Sorry. No posts contain that keyword.</h6>
}