@using Website.Models;

@if (ViewBag.Posts.Count > 0)
{
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in ViewBag.Posts)
            {
                <tr>
                    <td><a class="post" data-id="@post.ID" href="#">@ViewHelper.LimitLength(post.Title, 30)</a></td>
                    <td>@ViewHelper.LimitLength(post.PostText, 30)</td>
                    <td><a class="category" data-id="@post.CategoryID" href="#">@ViewHelper.GetCategoryName(post.CategoryID)</a></td>
                    <td>@ViewHelper.FormatDate(post.DatePosted)</td>
                </tr>
            }
        </tbody>
    </table>
    
    <script>
        $(".category").click(function (e) {
            e.preventDefault();
            var url = "/Home/RecentPostsInCategory";
            var category = $(this).text();

            $.post(url, { id: $(this).data('id') })
             .done(function (table) {
                 $("#title").empty();
                 $("#title").append(category);
                 $("#content").empty();
                 $("#content").append(table);
             });
        });

        $(".post").click(function (e) {
            e.preventDefault();
            var url = "/Home/SinglePost";

            $.post(url, { id: $(this).data('id') })
             .done(function (table) {
                 $("#title").empty();
                 $("#title").append("Search Posts");
                 $("#content").empty();
                 $("#content").append(table);
             });
        });
    </script>
}
else
{
    <h6>Sorry. No posts contain that keyword.</h6>
}